#principaisFontes {
  display: flex;
  justify-content: space-around;

  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  width: 86px;
  height: 85px;
}
